* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-box {
    background-color: #ffffff;
    width: 100%;
    max-width: 420px;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.08);
  }
  
  .login-box h2 {
    text-align: center;
    margin-bottom: 25px;
  }
  
  .login-box form div {
    margin-bottom: 18px;
  }

  .home-wrapper {
    min-height: 100vh;
    background: #f9fafb;
    font-family: 'Inter', sans-serif;
  }
  
  /* CONTAINER PADRÃO */
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* HEADER */
  .home-header {
    background: #ffffff;
    border-bottom: 1px solid #e5e7eb;
  }
  
  .header-content {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 22px;
    font-weight: 800;
    color: #000000;
  }
  
  
  .header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .link-login {
    text-decoration: none;
    color: #111827;
    font-weight: 500;
  }
  
  /* BOTÃO PRINCIPAL */
  .btn-primary {
    background: linear-gradient(135deg, #7c4dff, #2dd4bf);
    color: #fff;
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    border: none;
  }
  
  /* HERO */
  .hero {
    padding: 80px 0;
  }
  
  .hero-content {
    text-align: center;
  }
  
  .badge {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 999px;
    background: #ede9fe;
    color: #7c4dff;
    font-size: 14px;
    margin-bottom: 25px;
  }
  
  .hero h1 {
    font-size: 46px;
    font-weight: 800;
    line-height: 1.2;
    color: #111827;
    margin-bottom: 25px;
  }
  
  .highlight-purple {
    color: #7c4dff;
  }
  
  .highlight-blue {
    color: #38bdf8;
  }
  
  .hero p {
    max-width: 680px;
    margin: 0 auto 40px;
    font-size: 18px;
    color: #6b7280;
  }
  
  /* AÇÕES */
  .hero-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .btn-outline {
    padding: 12px 20px;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #7c4dff;
    font-size: 16px;
    cursor: pointer;
    color: #7c4dff;
    font-weight: 500;
    transition: all 0.2s ease;
  }
  .btn-outline:hover {
    background: #f5f3ff;
  }
  
  /* RESPONSIVO */
  @media (max-width: 768px) {
    .hero h1 {
      font-size: 32px;
    }
  
    .hero p {
      font-size: 16px;
    }
  
    .header-content {
      flex-direction: row;
    }
  }
  