.card {
    background: #ffffff;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    max-width: 400px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.card h3, p {
    padding: 0.1rem 1rem;
}
.card p {
    color: #6b7280;
    font-size: 14px;
}
.card-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #111827;
    font-weight: normal;
}

.card-content {
    height: 2rem;
    border-radius: 1rem 1rem 0 0;

}

.card-icon {
    border: 1px solid #6b7280;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    width: 40px;
    height: 40px;
    margin: -20px 20px 20px;
    background: #ffffff;
}

.card-emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    width: 40px;
    height: 40px;
    margin: -20px 20px 20px;

}